@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.googleapis.com/css2?family=Candal&family=League+Gothic&family=League+Spartan:wght@100..900&display=swap");

/*  font-family: "Candal", sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-brand-color: #000;
  --common-padding: 0 8vw;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: var(--primary-brand-color);
}
header {
  font-family: "Satoshi", sans-serif;
}
.header-top {
  background-color: var(--primary-brand-color);
  text-align: center;
  color: #fff;
  padding: 2vh;
}
.header-top a {
  color: #fff;
  text-decoration: underline;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  padding: var(--common-padding);
}
.header-logo a {
  font-weight: 900;
  font-size: 24px;
  font-family: "Candal", sans-serif;
}
.header-search {
  position: relative;
}
.header-search input {
  border-radius: 28px;
  padding: 4px 8px;
  border: none;
  background-color: #f0f0f0;
  padding-left: 36px;
}
.search-icon {
  position: absolute;
  left: 8px;
  top: 4px;
}
.header-options ul {
  display: flex;
  gap: 16px;
  align-items: center;
  list-style: none;
}

main {
  height: 84vh;
  background-color: #f0f0f0;
}

/* new arrivals products */

.products {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  /* gap: 2vw; */
}

.products div {
  width: 20%;
  /* border: 1px solid black; */
}
.products div img {
  width: 100%;
  height: auto;
  background-color: #f0f0f0;
  border-radius: 12px;
}

.product-price {
  font-family: "Satoshi", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
}

.new-arrivals-section {
  padding: 4vh 8vw;
}

.new-arrivals-section h2 {
  font-family: "Candal", sans-serif;
  text-align: center;
  padding-bottom: 4vh;
}

.product-price {
  font-weight: bold;
  font-size: 1rem;
}
.view-all-wrapper {
  padding: 4vh;
  text-align: center;
}
.view-all-wrapper a {
  padding: 0.5rem 1rem;
  font-family: "Satoshi", sans-serif;

  border-radius: 40px;
  border: 1px solid rgb(69, 69, 69);
}
/* 
rating 
*/

.rating {
  font-size: 1.5rem;
  /* icon size */
  display: grid;
  grid-template: "full" 1fr/1fr;
  color: #ffc633;
}
.rating::before {
  grid-area: full;
  width: calc((var(--rating, 0) / 5) * 100%);
  overflow: hidden;
  white-space: nowrap;
  content: "★★★★★";
}
.rating::after {
  grid-area: full;
  white-space: nowrap;
  content: "☆☆☆☆☆";
}
/* color: #FFC633; */
